*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainDiv{
    width: 100%;
    height: 901px;
    border: 1px solid red;
    display: flex;
}
.left-side {
    width: 261px;
    height: 901px;
    background-color: #202123;
;
}
.right-side {
    width: 100%;
    height: 901px;
    background-color: #40414E;
}